*{
    margin: 0;
    box-sizing: border-box;
}
.tarjetaCompra{
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
    width: 50vw;
    border-radius: 20px;
    border: solid 1px black;
}
.total{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.precio{
    width: 60%;
}
.cantidad{
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-align: end;
    
}
.btn_cuadrado{
    width: 100%;
    margin-bottom: 1px;
    border-radius: 0px;
}
.btn_pagar{
    height: 5em;
}